html, body {
    margin: 0;
}

#wrapper {
}

.grid {
    margin-left: 400px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;

    -webkit-transition: opacity, 0.3s;
}

.grid:hover {
    opacity: 0.7;
}
