html, body {
    margin: 0;
}

#wrapper {
}

.grid {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;

    -webkit-transition: opacity, 0.3s;
}

.grid:hover {
    opacity: 0.7;
}
