<div id='nav_bar_container'>
  <ul>
    <li id='nav_texts'>
      <a href='/texts/'>
        <div class='nav_text'>texts</div>
        <div class='nav_underline'></div>
      </a>
    </li>
    <li id='nav_projects'>
      <a href='/projects/'>
        <div class='nav_text'>projects</div>
        <div class='nav_underline'></div>
      </a>
    </li>
    <li id='nav_gallery'>
      <a href='/gallery/'>
        <div class='nav_text'>gallery</div>
        <div class='nav_underline'></div>
      </a>
    </li>
    <li id='nav_about'>
      <a href='/about/'>
        <div class='nav_text'>about</div>
        <div class='nav_underline'></div>
      </a>
    </li>
  </ul>
</div>
