#nav-bar
  %ul
    %li#texts
      %a(href='/texts')texts
      .underline
    %li#projects
      %a(href='/projects')projects
      .underline
    %li#gallery
      %a(href='/gallery')gallery
      .underline
    %li#about
      %a(href='/about')about
      .underline
