body {
    background:#333;
}

#container {
    position:absolute;
    top:0px;
    width:900px;
    height:900px;
    background:#FFF;
}

#title_bar {
}

#weaver_img {
    float:left;
}

#weaver_img img {
    margin-left:20px;
    width:150px;
}

#title_img {
    float:left;
    margin-left:-50px;
    margin-top:25px;
}

#title_img #dirty {
    margin-left:250px;
    margin-top:10px;
}
