@font-face {
	font-family:PlutoLight;
	src:url('../fonts/PlutoLight.ttf');
}

@font-face {
	font-family:PlutoRounded;
	src:url('../fonts/PlutoRounded.ttf');
}

@font-face {
	font-family:PlutoHeavy;
	src:url('../fonts/PlutoHeavy.ttf');
}

@font-face {
    font-family:BetonBold;
    src:url('../fonts/BetonPExtBol.ttf');
}

@font-face {
    font-family:BetonExtraBold;
    src:url('../fonts/CgBetonExtraBold.ttf');
}

@font-face {
	font-family:Consolas;
	src:url('../fonts/Consolas.ttf');
}

@font-face {
	font-family:GeoLightOblique;
	src:url('../fonts/GeosansLight-Oblique.ttf');
}