body {
	overflow-x:hidden;
    background:url('/images/bg_texture.jpg');
}

a:link {
	text-decoration:none;
	color:#333;
}

a:visited {
	text-decoration:none;
	color:#333;
}

#container {
	position:absolute;
    top:0px;
}

#inner_container {
	margin-top:30px;
	width:600px;
	overflow:hidden;
}

.code {
	font-family:Consolas;
	font-size:10pt;
	text-align:left;
}
