#nav_bar_container {
	font-family:PlutoLight;
	overflow:hidden;
    position:relative;
    left:50%;
    margin-left:-195px;
}

#nav_bar_container ul {
	padding-left:0px;
}

#nav_bar_container ul li {
	float:left;
	display:inline;
	margin-left:25px;
	margin-right:25px;
	cursor:pointer;
}

#nav_bar_container ul li .nav_underline {
	margin:0 auto;
	height:1px;
	width:0px;
	background:#000;
	
	-webkit-transition:width 0.3s ease-in-out;
}

#nav_texts:hover .nav_underline {
    width:36px;
}

#nav_projects:hover .nav_underline {
    width:60px;
}

#nav_gallery:hover .nav_underline {
    width:50px;
}

#nav_about:hover .nav_underline {
    width:43px;
}
