<%= stylesheet_link_tag "about" %>
<%= render :partial => "elements/header", :locals => { :title => 'About' } %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
        	<div id='about_photo_container'>
            <%= image_tag "profile.png" %>
        	</div>
            <div id='about_text_container' class='text-body'>
                <p>I am Guanlun, a junior in Computer Science in the Hong Kong University of Science and Techonology.</p>
                <p>Computer Science is my major and my passion. I keep learning new stuff and coding exciting stuff. Currently I am most interested in computer graphics and web development.</p>
                <p>I would describe myself as a minimalistic, enthusiasic and responsible person. I try to keep things simple and elegant, from my bedroom to my computer desktop. I'm always highly motivated and people usually find me reliable.</p>
                <p>In my spare time I really love swimming and hiking.</p>
                <p>BTW, I'm an active user of Google+ and you can find me <a href='https://plus.google.com/u/0/113003492027090573341/'>here</a>.</p>

            </div>
        </div>
