<%= stylesheet_link_tag "index" %>
<%= render :partial => "elements/header" %>
<div id='container'>
    <div id='weaver_container'>
        <%= image_tag("weaver-wire.png") %>
    </div>
    <div id='dirty_container'>
        talking's cheap, get your hands dirty
    </div>
    <div id='title_container'>
        <div id='weaver_text'>weaver</div>
        <div id='at_work_text'>at work</div>
    </div>
    <%= render :partial => "elements/nav_bar" %>
</div>
