<%= stylesheet_link_tag "texts" %>
<%= render :partial => "elements/header" %>
        <div id='container'>
<%= render :partial => "elements/nav_bar" %>
            <div id='inner_container'>
              <div id="text_list_title">texts</div>
              <div id="text_list_container">

                <div class="text_item">
                  <div class="text_item_title">Learning Blender</div>
                  <div class="text_item_datetime">Feb 8, 2013</div>
                  <div class="text_item_quote">“</div>
                  <div class="text_item_content">
                    He arrived at Boston aboard Vancouver the ship and gambled He arrived at Boston aboard Vancouver the ship and gambled He arrived at Boston aboard Vancouver the ship and gambled 
                  </div>
                </div>

                <div class="text_item">
                  <div class="text_item_title">中文的标题</div>
                  <div class="text_item_datetime">Feb 8, 2013</div>
                  <div class="text_item_quote">“</div>
                  <div class="text_item_content">
                    阿斯顿发生都嘎哈是否会噶啥反倒是噶是对方根本差点让热特阿斯顿发生都嘎哈是否会噶啥反倒是噶是对方根本差点让热特阿斯顿发生都嘎哈是否会噶啥反倒是噶是对方根本差点让热特
                  </div>
                </div>

                <div class="text_item">
                  <div class="text_item_title">Learning Blender</div>
                  <div class="text_item_datetime">Feb 8, 2013</div>
                  <div class="text_item_quote">“</div>
                  <div class="text_item_content">
                    He arrived at Boston aboard Vancouver the ship and gambled He arrived at Boston aboard Vancouver the ship and gambled He arrived at Boston aboard Vancouver the ship and gambled 
                  </div>
                </div>

              </div>
	        	</div>
	        </div>

        </div>
<%= render :partial => "elements/footer" %>
