#upper_right_corner_banner_container {
	position:fixed;
	top:0px;
	right:0px;
	height:120px;
	width:120px;
	overflow:hidden;
}

#corner_banner {
	margin-top:90px;
	height:20px;
	width:300px;
	background:#AAA;
	color:#FFF;
	
  transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}

#corner_banner #banner_content {
  padding-left:30px;
	font-family:PlutoRounded;
	font-size:16px;
  cursor:pointer;

  transition:margin-left 0.3s ease-in-out;
  -webkit-transition:margin-left 0.3s ease-in-out;
  -moz-transition:margin-left 0.3s ease-in-out;
  -o-transition:margin-left 0.3s ease-in-out;
  -ms-transition:margin-left 0.3s ease-in-out;
}

#corner_banner #banner_content:hover {
  margin-left:-118px;
}

#banner_content #banner_weaver_part {
  color:#fd0;
}

#banner_content #banner_contact_part {
  margin-left:50px;
}
