#upper_right_corner_banner_container {
	position:fixed;
	top:0px;
	right:0px;
	height:120px;
	width:120px;
	overflow:hidden;
}

#corner_banner {
	margin-top:90px;
	height:20px;
	width:300px;
	background:#AAA;
	color:#FFF;
	
	-webkit-transform:rotate(45deg);
}

#corner_banner #banner_content {
    padding-left:30px;
	font-family:PlutoRounded;
	font-size:16px;
    cursor:pointer;

    -webkit-transition:margin-left 0.3s ease-in-out;
}

#corner_banner #banner_content:hover {
    margin-left:-125px;
}

#banner_content #banner_weaver_part {
    color:#fd0;
}

#banner_content #banner_contact_part {
    margin-left:50px;
}

#talkbubble {
	display:none;
   width: 120px; 
   height: 80px; 
   background: #FFF;
   position: absolute;
   right:80px;
   top:20px;
   -webkit-border-radius: 10px; 
}

#talkbubble:before {
   content:"";
   position: absolute;
   left: 100%;
   top: 16px;
   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-left: 25px solid #FFF;
   border-bottom: 10px solid transparent;
}