#gallery_item_title_text {
	text-align:right;
	font-size:20pt;
	margin-right:40px;
}

#gallery_info_container {
  color: #666;
}

#gallery_item_date_text {
	margin-top:10px;
	font-size:12pt;
}

#gallery_item_description_text {
	margin-top:5px;
	font-size:11pt;
}

#gallery_wrapper {
  margin-top: 20px;
}

.smart_tile_container {
  visibility: hidden;
  position: absolute;
}

.grid {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}
