#gallery_list_title {
	font-family:LoraRegular;
  float: right;
  font-size: 24pt;
  margin-right: 60px;
}

#gallery_list_container {
	margin-top:40px;
	font-family:LoraRegular;
	font-size:10pt;
	text-align:justify;
}

.gallery_item {
  margin-top: 25px;
}

.gallery_item_title {
  font-size: 16pt;
  cursor: pointer;
}

.gallery_item_title:hover {
  text-decoration: underline;
}

.gallery_item_datetime {
  float: right;
  margin-top: -5px;
  color: #666;
}

.gallery_item_content {
  text-indent: 35px;
  color: #666;
}

.gallery_item_thumbnail {
  width: 100px;
  height: 80px;
}

.gallery_item_thumbnail img {
  width: inherit;
  height: inherit;
}
