#gallery_title_text {
	text-align:right;
	font-family:PlutoRounded;
	font-size:20pt;
	margin-right:40px;
}

#gallery_item_container {
	margin-top:10px;
	overflow:hidden;
}

.gallery_item {
	margin-top:20px;
	padding:20px;
	overflow:hidden;
	background:rgba(255, 255, 255, 0);
	cursor:default;
	
	-webkit-transition:background 0.2s;
}

.gallery_item:hover {
	background:rgba(255, 255, 255, 0.4);
}

.gallery_item_cover_container {
	float:left;
	overflow:hidden;
}

.gallery_img {
	display:none;
}

.gallery_img img {
	width:inherit;
	height:inherit;
}

.cover {
	display:block;
	width:240px;
	height:180px;
}

.gallery_item_info_container {
	float:left;
	margin-left:30px;
	width:290px;
}

.gallery_item_title_text {
	font-family:PlutoRounded;
	font-size:14pt;
}

.gallery_item_date_text {
	margin-top:10px;
	font-family:PlutoLight;
	font-size:12pt;
}

.gallery_item_description_text {
	margin-top:5px;
	font-family:PlutoLight;
	font-size:11pt;
}

