html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x:hidden;
}

a:link {
	text-decoration:none;
	color:#333;
}

a:visited {
	text-decoration:none;
	color:#333;
}

#container {
	margin:0 auto;
	width:600px;
}

#inner_container {
	margin-top:30px;
	width:600px;
  margin-left:auto;
  margin-right:auto;
	overflow:hidden;
}

.code {
	font-family:Consolas;
	font-size:10pt;
	text-align:left;
}
