html, body {
  margin: 0;
  /* font-family: MerriweatherRegular; */
  font-family: HelveticaNeue;
  height: 100%;
}

body {
  background: url("/assets/bg_texture.jpg");
}

a:link {
	text-decoration:none;
	color:#333;
}

a:visited {
	text-decoration:none;
	color:#333;
}

#container {
	margin:0 auto;
	width:600px;
    padding-bottom: 20px;
}

#inner_container {
	margin-top:30px;
	width:600px;
  margin-left:auto;
  margin-right:auto;
	overflow:hidden;
}

.code {
	font-family:Consolas;
	font-size:12pt;
	text-align:left;
}

.text-body {
  font-size: 12pt;
  line-height: 180%;
  text-align: justify;
}

.text-body a, .text-body a:visited {
  color: #888;
}

.text-body a:hover, .text-body a:visited:hover {
  text-decoration: underline;
}
