#project_item_title_text {
	text-align:right;
	font-size:20pt;
	margin-right:40px;
}

#project_item_middle_container {
	margin-top:25px;
	height:180px;
	overflow:hidden;
}

#project_item_info_container {
	float:left;
	height:140px;
	margin-top:20px;
	width:250px;
	text-align:left;
}

.project_item_info_entry {
	font-size:12pt;
    margin-top: 5px;
}

.project_item_info_title {
	font-style: italic;
}

.project_item_info_value {
	margin-left:30px;
    color: #666;
}

#project_item_thumbnail_container {
	float:right;
	width:320px;
	height:inherit;
}

#project_item_thumbnail_container img {
	width:inherit;
	height:inherit;
}

#project_item_text_container {
	margin-top:30px;
	font-size:11pt;
	color:#333;
}
