#text_list_title {
  float: right;
  font-size: 24pt;
  margin-right: 60px;
}

#text_list_container {
  margin-top: 40px;
  font-size:10pt;
  text-align:justify;
}

.text_item {
  margin-top: 25px;
}

.text_item_title {
  font-size: 16pt;
  cursor: pointer;
}

.text_item_title a {
  color: #a03 !important;
  -webkit-transition: color 0.4s;
}

.text_item_title:hover a {
  color: #333 !important;
}

.text_item_datetime {
  float: right;
  margin-top: -5px;
  color: #666;
}

.text_item_quote {
  margin-top: 5px;
  font-family: serif;
  font-size: 60px;
  color: #aaa;
}

.text_item_content {
  margin-top: -45px;
  text-indent: 35px;
  color: #666;
}
